<div class="container">

  <div class="col-md-12 col-lg-12 rutes-ot">

    <div class="thumbnail5">
      <p class="img-servicii-ot"></p>
      <div class="content-ot"><img src="<%= asset_path('logo white/logo ot sol.gif') %>" alt="ot-logo" class="img-responsive" ><br>
      <p>Este o agentie de rezervari feribot pentru vehicule comerciale cu sediul in Ruse, Bulgaria. Va poate fi de foarte mare ajutor in a economisi bani la cursele dvs. in tari ce necesita o traversare cu feribotul, intrucat OT SOLUTIONS are parteneriate directe cu principalii operatori maritimi din partea Nordica a Europei.
      <br><br>
      Portofoliul de rute cuprinde:</p></div>
      <div class="content">
      <div class="row">
      <div class="col-md-12 rute-ot">
      <ul class="col-md-3 col-xs-6">
      <li><strong>IRLANDA</strong></li>
      <li>+</li>
      <li>Fishguard-Rosslare</li>
      <li>Holyhead-Dublin</li>
      <li>Cairnryan-Belfast</li>
      <li>Cairnryan-Larne</li>
      <li>Liverpool-Belfast</li>
      </ul>
      <ul class="col-md-4 col-xs-6">
      <li><strong>ANGLIA</strong></li>
      <li>+</li>
      <li>Calais-Dover</li>
      <li>Dunkerque-Dover</li>
      <li>Calais-Folkestone</li>
      <li>Hoek V Holland-Harwich</li>
      <li>Hoek V Holland-Killingholme</li>
      <li>Dieppe-Newhaven</li>
      <li>Portsmouth-Fishbourne (Isle of Wight)</li>
      <li>Lymington-Yarmouth (Isle of Wight)</li>
      </ul>
      <ul class="col-md-3 col-xs-6">
      <li><strong>DANEMARCA</strong></li>
      <li>+</li>
      <li>Puttgarden-Roedby</li>
      <li>Puttgarden-Roedby+Helsingor-Helsingborg</li>
      <li>Puttgarden-Redoby+Oresund</li>
      <li>Rostock-Gedser</li>
      <li>Rostock-Gedser+Helsingor-Helsingborg</li>
      <li>Rostock-Gedser+Oresund</li>
      <li>Helsingor-Helsingborg</li>
      </ul>      
      <ul class="col-md-2  col-xs-6">
      <li><strong>SUEDIA</strong></li>
      <li>+</li>
      <li>Sassnitz-Trelleborg</li>
      <li>Rostock-Trelleborg</li>
      <li>Swinoujscie-Ystad</li>
      <li>Swinoujscie-Trelleborg</li>
      <li>Gdynia-Karlskrona</li>
      <li>Gdansk-Nynashamn</li>
      <li>Frederikshavn-Goteborg</li>
      <li>Grenaa-Varberg</li>
      </ul>
      </div>
      </div>

      <div class="row">
        <div class="col-md-12 rute-ot">
      <ul class="col-md-3  col-xs-6 norvegia">
      <li><strong>NORVEGIA</strong></li>
      <li>+</li>
      <li>Hirtshals-Langesund</li>
      <li>Hirtshals-Stavanger</li>
      <li>Hirtshals-(Stavanger)-Bergen</li>
      <li>Frederikshavn-Oslo</li>
      </ul>    
      <ul class="col-md-3  col-xs-6 fin-sic">
      <li><strong>FINLANDA</strong></li>
      <li>+</li>
      <li>Tallinn-Helsinki</li>
      <li>Stockholm-Turku</li>
      <li><br></li>
      <li><strong>SICILIA</strong></li>
      <li>+</li>
      <li>Villa San Giovanni-Messina</li>
      </ul> 
        </div>
      </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <p id="black">Daca sunteti interesat in a obtine cotatii de pret pe o anumita ruta sau aveti nevoie de consultanta, completati formularul de mai jos, iar un reprezentat OPTIMUS va lua legatura cu dvs. pentru a va oferi mai multe detalii.</p></div>
    <div class="col-md-8 beneficii">
    <p id="title-ot">CA SI CLIENT OT SOLUTIONS BENEFICIATI DE:</p>
      <div class="row">
        <div class="col-xs-4">
        <p id="circle"><img src="<%= asset_path('phone.gif') %>" alt="otsolutions" class="img-responsive" ></p><p>Preturi mai mici cu pana la 40% fata de cele online sau de cele din port;</p></div>
        <div class="col-xs-4">
        <p id="circle"><img src="<%= asset_path('agreed.gif') %>" alt="otsolutions" class="img-responsive" ></p><p>Consultanta Gratuita in privinta cotatiilor de pret pe orice ruta;</p></div>
        <div class="col-xs-4">
        <p id="circle"><img src="<%= asset_path('calendar.gif') %>" alt="otsolutions" class="img-responsive" ></p><p>Disponibilitate si suport<br>
        24 ore/24, 7 zile/7;</p></div>
      </div>
      <div class="row">
        <div class="col-xs-6">
        <p id="circle"><img src="<%= asset_path('note.gif') %>" alt="otsolutions" class="img-responsive" ></p><p>Facturare la valoare neta din Bulgaria;</p></div>
        <div class="col-xs-6">
        <p id="circle"><img src="<%= asset_path('cash.gif') %>" alt="otsolutions" class="img-responsive" ></p><p>Flexibilitate din punct de vedere al monedei;</p></div>
      </div>
    </div>
  </div>
</div>   