<div class="footer">
	<div class="row">
<div class="footer-nav">
	<div class="container">
		<ul class="footer-list">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="home" class="meniu">HOME</a>
                    </li>
                    <li>
                        <a href="servicii" class="meniu">SERVICII</a>
                    </li>
                    <li>
                        <a href="parteneri" class="meniu">PARTENERI</a>
                    </li>
                    <li>
                        <a href="cariere" class="meniu">CARIERE</a>
                    </li>
                    <li>
                        <a href="despre" class="meniu">DESPRE NOI</a>
                    </li>
                    <li>
                        <a href="contact" class="meniu">CONTACT</a>
                    </li>
    	</ul>

	</div>
</div>

	<div class="container">
	
			<div class="col-12 echipa">
				<img class="img-responsive cars col-lg-5 col-md-5 col-lg-5" src="<%= asset_path('footer.gif') %>" alt="optimus-transport" >


				<div class="col-6 parteneri"><img src="<%= asset_path('logo black/b logo optimus.gif') %>" alt="optimus-transport" width="105" height="35">
				<img src="<%= asset_path('logo black/b logo ot.gif') %>" alt="otsolutions" width="105" height="35">
				<img src="<%= asset_path('logo black/b logo wtransnet.gif') %>" alt="wtransnet"	width="100" height="25">
				<img src="<%= asset_path('logo black/b-logo-wconnecta.gif') %>" alt="wconnecta" width="100" height="15">
				<img src="<%= asset_path('logo black/b logo wabi.gif') %>" alt="wabi" width="100" height="25">
				</div>
			</div>			
		
		</div>

		<div class="container">
			<ul class="footer-hidden">
                    <li>
                        <a href="home" class="meniu">HOME</a>
                    </li>
                    <li>
                        <a href="servicii" class="meniu">SERVICII</a>
                    </li>
                    <li>
                        <a href="parteneri" class="meniu">PARTENERI</a>
                    </li>
                    <li>
                        <a href="cariere" class="meniu">CARIERE</a>
                    </li>
                    <li>
                        <a href="despre" class="meniu">DESPRE NOI</a>
                    </li>
                    <li>
                        <a href="contact" class="meniu">CONTACT</a>
                    </li>
    		</ul>
    	</div>
	</div>
</div>