    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="<%= asset_path('logo white/logo meniu.gif') %>" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="ul-lg">
                    <li>
                        <a href="home" class="meniu">HOME</a>
                         <audio id="sound" controls preload="auto"><source src="<%= asset_path('button.mp3') %>" controls></source></audio>
                    </li>
                    <li>
                        <a href="servicii" class="meniu">SERVICII</a>
                        <audio id="sound" controls preload="auto"><source src="<%= asset_path('button.mp3') %>" controls></source></audio>
                    </li>
                    <li>
                        <a href="parteneri" class="meniu">PARTENERI</a>
                        <audio id="sound" controls preload="auto"><source src="<%= asset_path('button.mp3') %>" controls></source></audio>
                    </li>
                    <li>
                        <a href="cariere" class="meniu">CARIERE</a>
                        <audio id="sound" controls preload="auto"><source src="<%= asset_path('button.mp3') %>" controls></source></audio>
                    </li>
                    <li>
                        <a href="despre" class="meniu">DESPRE NOI</a>
                        <audio id="sound" controls preload="auto"><source src="<%= asset_path('button.mp3') %>" controls></source></audio>
                    </li>
                    <li>
                        <a href="contact" class="meniu">CONTACT</a>
                        <audio id="sound" controls preload="auto"><source src="<%= asset_path('Bacaw2.mp3') %>" controls></source></audio>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<script>
    $("#nav-two a")
      .each(function(i) {
        if (i != 0) {
          $("#sound")
            .clone()
            .attr("id", "sound" + i)
            .appendTo($(this).parent());
        }
        $(this).data("beep", i);
      })
      .mouseenter(function() {
        $("#sound" + $(this).data("beep"))[0].play();
      });
    $("#sound").attr("id", "sound0");
</script>