<div class="container">
<div id="wt-servicii">
<div class="content"><img src="<%= asset_path('logo white/logo wtransnet.gif') %>" alt="wtrasnet-logo" class="img-responsive" ><br>
<p>Fiind singura Bursa din Europa cu un sistem de Garantie a Platii, <strong>Wtransnet</strong> pune la dispozitie un mediu sigur pentru desfasurarea activitatii membrilor sai.
De mai bine de 20 de ani punem accent pe securitatea dvs. ca membru, din acest motiv filtrele noastre de securitate si calitate asigura inregistrarea in bursa doar a Caselor de Expeditii solvabile si a Companiilor de Transport calificate.</p></div></div>
</div>

<div class="container">

	<div class="row wt-row">

	<p id="wt-black">Wtransnet este pentru dumneavoastra daca:</p>
		<div class="col-md-4 circle2">
		<img src="<%= asset_path('logo white/world.gif') %>" alt="wtrasnet-logo" class="img-responsive" >
		<p>Efectuati transporturi sau expeditii de marfuri la nivel international</p>
		</div>
		<div class="col-md-4 circle2">
		<img src="<%= asset_path('logo white/map.gif') %>" alt="wtrasnet-logo" class="img-responsive" >
		<p><strong>Lucrati in mod constant cu Vestul si Sudul Europei</strong><br>Bursa specializata in trafic pe: <strong>Spania, Franta,<br>Portugalia si Italia</strong></p>
		</div>
		<div class="col-md-4 circle2">
		<img src="<%= asset_path('logo white/car.gif') %>" alt="wtrasnet-logo" class="img-responsive" >
		<p><strong>Operati cu vehicule de mare tonaj</strong> (camione)</p>
		</div>
		<p id="wt-desc">WTRANSNET isi are originile in Barcelona unde este situat si sediul central. A fost infiintata in anul 1996 de catre oameni ce au lucrat in domeniul transporturilor. Ideea de baza a acestei burse este reprezentata de siguranta. 
Procesul de filtrare QAP (Quality Assurance Policy) este metoda prin care fiecare aplicant este verificat pentru a ne asigura ca in Wtransnet vor avea acces doar companiile care indeplinesc aceste criterii. </p>
<button type="submit" class="btn btn-default">
					APLICA PENTRU UN CONT DEMO
				</button>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="<%= asset_path('poza-servicii.jpg') %>" alt="poza-servicii" class="img-responsive" >
		</div>
		<div class="col-md-6 ">
		<p id="wt-beneficii">Principalele Servicii de care beneficiati ca membru Wtransnet:</p>
			<div class="row-eq-height">
				<div class="col-md-6 wt-serv"><p><b>Garantia platii</b>  – un serviciu <b>UNIC in Europa</b> ce va ofera posibilitatea de a va asigura incasarea a 90% din valoarea facturii transportului. </p>
				</div>
				<div class="col-md-6 wt-serv"><p><b>Matching System</b> – sunteti notificat automat prin e-mail/aplicatie telefon mobil/SMS de potriviri pentru ofertele postate de dumneavoastra. In felul acesta puteti sa economisiti timpul petrecut cautand marfuri/camione. </p>
				</div>
			</div>
			<div class="row-eq-height">
				<div class="col-md-6 wt-serv"><p><b>White List</b>  – acces la o lista ce contine casele de expeditii care si-au luat angajamentul de a-si achita facturile la un termen de/pana in 0/30/45 de zile. </p>
				</div>
				<div class="col-md-6 wt-serv"><p><b>Companies Information Service</b>  – va punem la dispozitie informatii despre compania cu care sunteti pe punctul de a incepe o colaborare.</p>
				</div>
			</div>
			<div class="row-eq-height">
				<div class="col-md-6 wt-serv"><p><b>Business Assistant (Asistent personal)</b>  – ca membru vi se aloca un asistent personal ce va ajuta pe parcusul colaborarii sa utilizati la potential maxim toate instrumentele oferite de Wtransnet. </p>
				</div>
				<div class="col-md-6 wt-serv"><p><b>Associate Searcher</b>  – este un motor intern de cautare, acesta ofera posibilitatea ca membrii bursei sa filtreze companiile inregistrate in functie de criterii specifice (rutele de interes, limbile vorbite, tari de care sunt interesate, flota, activitatile companiei etc).</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-4">
		<div class="content-wt"><p>Aplicati acum pentru un CONT DEMO, iar unul dintre operatorii nostri va va pune la dispozitie informatiile necesare pentru a va convinge de ce mai mult de 11000 de companii si-au pus increderea in noi.</p>
		
		<ul><li><br><b>WTRANSNET ROMANIA</b><br></li> 
				<li>Tel:  +40 769 02 60 32</li> <br>
       	       	<li>Tel:  +40 755 01 78 88</li><br>
				<p><a>sales.romania@wtransnet.com</a></p></ul>
				<br>
		<img src="<%= asset_path('logo white/20wtransnet.gif') %>" alt="logo-20-wtransnet" class="img-responsive" >
		</div>
		</div>
		<div class="col-md-8 video-wt">
			<iframe width="750" height="475" src="<%= "https://www.youtube.com/embed/TaytXCNUTkY" %>"></iframe>
		</div>
	</div>
</div>